POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

EUREKA_SERVER_PORT=8761
API_GATEWAY_PORT=8080

FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173

JWT_SECRET=change-me-in-local-env-change-me-in-local-env-123456
JWT_EXPIRATION_MS=900000
REFRESH_TOKEN_EXPIRATION_MS=604800000
CART_TTL_SECONDS=604800

IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
REDIS_PORT=6379
REDIS_HOST=localhost
